{% extends "portfolio/base.html" %}

{% block content %}

<h2> {{ competencia.nome }}</h2>

<article>

    <a href="{% url 'competencia_editar' competencia.id %}"><button>Editar</button></a>
    <a href="{% url 'competencia_apagar' competencia.id %}"><button type="button">Apagar</button></a>

    {% if competencia.categoria %}
        <p><strong>Categoria:</strong> {{ competencia.categoria.nome }}</p>
    {% endif %}

    <h3> Descrição</h3>
    <p>{{ competencia.categoria.descricao }}</p>


</article>

{% endblock %}